.card{
    height: 3vh;
    width: auto;
    align-items: center ;
    text-align: left;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}