.list__container{
    width: 300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    border: 1px solid #c4c4c4;
    border-radius: 15px;
    margin:  10px 15px;
    background-color: #f6f6f6;
    -webkit-box-shadow: 4px 9px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 9px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 9px 8px 0px rgba(34, 60, 80, 0.2);
}